@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html,body{
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.button-20{
  text-decoration: none;
  padding: 10px;
  border: 1px solid black;
  margin-top: 10px;
  color: black;
  border-radius: 10px;
}